## Importing the Dependencies

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer ##text data to numerical values
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

##

## Data Collection & Pre-Processing

In [8]:
raw_mail_data = pd.read_csv("mail_data.csv")

In [9]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [10]:
#Replacing the null values with a null string

In [11]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [12]:
# Printing the first 5 rows of the dataframe
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
#checking the no. of rows and columns
mail_data.shape

(5572, 2)

## Label Encoding

In [14]:
# Labeling Spam mail as 0 and Ham mails as 1;

mail_data.loc[mail_data['Category']=='spam', 'Category',] = 0

mail_data.loc[mail_data['Category']=='ham','Category',] = 1

In [16]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [17]:
# separating the data as Texts(X-axis-Messages) and Labels(Y-axis-Category) 

X = mail_data['Message']
Y = mail_data['Category']

In [18]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [19]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

## Spliting the Data into Training and Testing Data

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [21]:
print(X.shape)
print(X_test.shape)
print(X_train.shape)

(5572,)
(1115,)
(4457,)

## Feature Extraction

In [22]:
# transform the text data to feature vectors that can be used as input to the Logistic Regression Model

In [24]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english',lowercase='True')

In [26]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [ ]:
print(*X_train_features)